<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/table.css" rel="stylesheet">
</head>
<body>
<div style="display: block">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for FIO..">
    <table id="myTable">
        <tr class="header">
            <th>ID</th>
            <th>FIO</th>
            <th>Days worked</th>
            <th>Rate</th>
            <th>Salary</th>
        </tr>
        <tr th:each="el : ${emp}">
            <td th:text="${el.getId}"/>
            <td th:text="${el.getFio()}"/>
            <td th:text="${el.getEmp_days()}"/>
            <td th:text="${el.getEmp_rate()}"/>
            <td th:text="${el.getEmp_salary()}"/>
            <td>
                <a th:href="@{/delete/{id}(id=${el.getId()})}">Delete</a>
            </td>
        </tr>
    </table>
</div>
<br>
<!--<p>
    <input type="text" th:name="fio-in">
    <a th:href="@{/home/{fio}(fio=${fio-in})}"
</p>-->
<div style="display: flex">
    <form action="/add" method="post">
        <div>
            <label>Добавление</label>
            <input type="text" placeholder="FIO" name="fio" required>
            <input type="number" placeholder="Days worked" name="emp_days" required>
            <input type="text" placeholder="Salary rate" name="emp_rate" required>
            <input type="text" placeholder="Salary" name="emp_salary">
            <button type="submit">Insert new</button>
        </div>
    </form>
    <form action="/update" method="post">
        <div>
            <label>Изменение</label>
            <input type="number" placeholder="id" name="id" required>
            <input type="text" placeholder="FIO" name="fio" required>
            <input type="number" placeholder="Days worked" name="emp_days" required>
            <input type="text" placeholder="Salary rate" name="emp_rate" required>
            <input type="text" placeholder="Salary" name="emp_salary">
            <button type="submit">update</button>
        </div>
    </form>
</div>
</body>
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</html>